In [5]:
import csv
import pandas as pd
import datetime
from pathlib import Path
import statistics
import numpy as np

In [6]:
#Create path for bus route and ridership data
cta_bus_routes = Path(r"C:\Users\jasmi\OneDrive\Documents\Project-1\Resources\bus_routes.csv")
cta_riders = Path(r"C:\Users\jasmi\OneDrive\Documents\Project-1\Resources\cleaned_data_ridership_2013_2023.csv")

#Store into pandas data frame
cta_bus_routes_df = pd.read_csv(cta_bus_routes)
cta_riders_df = pd.read_csv(cta_riders)

In [7]:
# Open and read bus route CSV file

with open(cta_bus_routes) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")

# Skip header row and count the total number of votes recorded
#Calculate the total number of bus routes in Chicago

    next(csvreader)
    cta_bus_routes = list(csvreader)
    total_bus_routes = len(cta_bus_routes)

#print the total number of bus routes in Chicago
total_bus_routes

127

In [8]:
#data frame contains cta data from 01/01/2013 - 12/31/2023
cta_riders_df['service_date'] = pd.to_datetime(cta_riders_df['service_date'])
cta_riders_df.head()

  service_date day_type     bus  rail_boardings  total_rides
0   2013-01-01        U  338644          276167       614811
1   2013-01-02        W  747631          570506      1318137
2   2013-01-03        W  857744          620104      1477848
3   2013-01-04        W  875485          635401      1510886
4   2013-01-05        A  549303          356383       905686

In [9]:
# Total number of bus riders
total_bus_riders = cta_riders_df['bus'].sum()
total_bus_riders

2400569460

In [10]:
# Lowest number of bus riders
min_bus_riders = cta_riders_df['bus'].min()
min_bus_riders

80783

In [11]:
# Highest number of bus riders
max_bus_riders = cta_riders_df['bus'].max()
max_bus_riders

1100251

In [12]:
# Median bus riders
med_bus_riders = cta_riders_df['bus'].median()
med_bus_riders

539617.0

In [13]:
#Bus rider dataset quartiles
data = pd.Series(cta_riders_df['bus'])
bus_quartiles = data.quantile([0.25,0.5,0.75])
bus_quartiles

0.25    375720.5
0.50    539617.0
0.75    829277.5
Name: bus, dtype: float64

In [14]:
# Average bus riders 
avg_bus_riders = cta_riders_df['bus'].mean()
avg_bus_riders

593172.5871015567

In [15]:
# Bus rider dataset outliers
#  Bus rider dataset variable
bus_data_o = cta_riders_df['bus']

# Calculate Q1, Q3, and IQR
Q1 = np.percentile(data, 25)
Q3 = np.percentile(data, 75)
IQR = Q3 - Q1

# Calculate lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = [x for x in data if x < lower_bound or x > upper_bound]

print("Lower Bound:", lower_bound)
print("Upper Bound:", upper_bound)
print("Outliers:", outliers)

Lower Bound: -304615.0
Upper Bound: 1509613.0
Outliers: []

In [16]:
# Total number of train riders 
total_train_riders = cta_riders_df['rail_boardings'].sum()
total_train_riders

2017341062

In [17]:
# Lowest number of train riders
min_train_riders = cta_riders_df['rail_boardings'].min()
min_train_riders

23544

In [18]:
#Highest number of train riders 
max_train_riders = cta_riders_df['rail_boardings'].max()
max_train_riders

1146516

In [19]:
# Median train rider data
med_train_riders = cta_riders_df['rail_boardings'].median()
med_train_riders

456039.0

In [20]:
# Train rider qurtiles in dataset
data = pd.Series(cta_riders_df['rail_boardings'])
train_quartiles = data.quantile([0.25,0.5,0.75])
train_quartiles

0.25    296012.0
0.50    456039.0
0.75    743390.0
Name: rail_boardings, dtype: float64

In [21]:
# Average train riders 
avg_train_riders = cta_riders_df['rail_boardings'].mean()
avg_train_riders

498478.14726958243

In [22]:
# Train rider outliers
# Train rider dataset variable
train_data_o = cta_riders_df['rail_boardings']

# Calculate Q1, Q3, and IQR
Q1 = np.percentile(data, 25)
Q3 = np.percentile(data, 75)
IQR = Q3 - Q1

# Calculate lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = [x for x in data if x < lower_bound or x > upper_bound]

print("Lower Bound:", lower_bound)
print("Upper Bound:", upper_bound)
print("Outliers:", outliers)

Lower Bound: -375055.0
Upper Bound: 1414457.0
Outliers: []

In [23]:
# Average of total cta riders
avg_cta_riders = cta_riders_df['total_rides'].mean()
avg_cta_riders

1091650.7343711392