In [65]:
import csv
import pandas as pd
import datetime
from pathlib import Path

In [66]:
#Create path for bus route and ridership data
cta_bus_routes = Path(r"C:\Users\jasmi\OneDrive\Documents\Project-1\Resources\bus_routes.csv")
cta_riders = Path(r"C:\Users\jasmi\OneDrive\Documents\Project-1\Resources\ridership_2013_2023.csv")

#Store into pandas data frame
cta_bus_routes_df = pd.read_csv(cta_bus_routes)
cta_riders_df = pd.read_csv(cta_riders)

In [68]:
# Open and read bus route CSV file

with open(cta_bus_routes) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")

# Skip header row and count the total number of votes recorded
#Calculate the total number of bus routes in Chicago

    next(csvreader)
    cta_bus_routes = list(csvreader)
    total_bus_routes = len(cta_bus_routes)

#print the total number of bus routes in Chicago
total_bus_routes

127

In [78]:
#data frame contains cta data from 01/01/2013 - 12/31/2023
cta_riders_df['service_date'] = pd.to_datetime(cta_riders_df['service_date'])
cta_riders_df.head()

  service_date day_type     bus  rail_boardings  total_rides
0   2013-01-01        U  338644          276167       614811
1   2013-01-02        W  747631          570506      1318137
2   2013-01-03        W  857744          620104      1477848
3   2013-01-04        W  875485          635401      1510886
4   2013-01-05        A  549303          356383       905686

In [74]:
# Total number of bus riders
total_bus_riders = cta_riders_df['bus'].sum()
total_bus_riders

2400569460

In [77]:
# Average bus riders 
avg_bus_riders = cta_riders_df['bus'].mean()
avg_bus_riders

593172.5871015567

In [75]:
# Total number of train riders 
total_train_riders = cta_riders_df['rail_boardings'].sum()
total_train_riders

2017341062

In [76]:
# Average train riders 
avg_train_riders = cta_riders_df['rail_boardings'].mean()
avg_train_riders

498478.14726958243

In [80]:
# Average of total cta riders
avg_cta_riders = cta_riders_df['total_rides'].mean()
avg_cta_riders

1091650.7343711392